{% extends 'LMS/layout.html' %}

{% block body %}
<main class="pt-20 md:pt-8 p-4 md:p-8 flex-1 overflow-y-auto h-screen bg-gray-50">
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-2" id="renderCourse">

    </div>
    <!-- Pagination Controls -->
    <div class="flex justify-between items-center mt-4 text-sm">
        <button id="prevPage"
            class="px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none disabled:opacity-50"
            disabled>
            Previous
        </button>
        <div id="paginationInfo" class="text-gray-700"></div>
        <button id="nextPage"
            class="px-3 py-1 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none disabled:opacity-50"
            disabled>
            Next
        </button>
    </div>
    <script src="/static/LMS/js/saveCourse.js" type="module"></script>
    <script>
        var role = `{{user.role|safe}}`
    </script>
</main>
{% endblock %}